body{
    margin: 0;
    
}

@media (min-width: 900px) {
    #formato{
        display: flex;
    }
    .divs{
        
        width: 50vw;
        height: 100vh;
    }
    .left{
        text-align: center;
        align-content: center;
        background-color: rgb(0, 255, 179);
    }
    .right{
        align-content: center;
        justify-items: center;
       
    }
    
    .box {
        justify-content: center;
        border-radius: 10px;
        width: 400px;
        border: 1px solid black;
        
    }
        
    
}   

@media (max-width: 899px) {
    #formato{
        align-items: center;
        height: 100vh;
    }
    .left{
        text-align: center;
        margin-top: 200px;
    }
        
    .box {
        margin: auto;
        justify-content: center;
        border-radius: 10px;
        width: calc(35vw + 180px);
        border: 1px solid black;
        
    }
}


.inside-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px;
}

.inputs{
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 0;
}
.btns{
    height: 45px;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.place-btns{
    display: flex;
    flex-direction: column;
}