body{
    margin: 0;
    background-color: white;
    color: white;
}

#montarTreino{
    margin: 3vw;
    text-align: center;
    background-color: #081c15;
    border-radius: 20px;
    padding: 1px;
    width: 500px;

}
.treino{
    background-color: #2d6a4f;
    border-radius: 20px;
    padding-bottom: 30px;
    margin: 20px;
}

.placePlanilha{
    margin: 0 2vw;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    background-color: #74c69d;
    border-radius: 20px;
    padding: 20px;
    overflow-x: auto;
}

.treinoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .treinoHead div{
    margin: 10px 2vw;
}

.treinoHead h1{
    align-self: center;
    justify-self: center;
    margin: 1vw auto;
}

.treinoHead button{
    width: 5vw;
    height: 30px;
    border-radius: 10px;
    border: 0;

}

.lugarFicha{
    margin: 2vw;
    background-color: #95d5b2;
    border-radius: 20px;
    padding: 2vw;
}
.placeInputs{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-auto-rows: 25px;
    gap: 1em 0;
    max-width: 200px;
    min-width: 200px;
  
}
.inputs{
    border: 1px solid rgb(64, 59, 87);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100px;
    text-align: center;
}

#createTreino{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0 2vw;
}
#createTreino button{
    border-radius: 15px;
    width: 100%;
    height: 50px;
}
